{
    "presets": [
        "next/babel"
    ],
    "plugins":[
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "html",
                    "java",
                    "php",
                    "sql",
                    "textile",
                    "xml",
                    // "rss",
                    // "atom",
                    // "aspnet",
                    // "csharp",
                    // "editorconfig",
                    // "mongodb",
                    // "markdown",
                    "json",
                    "liquid",
                    "gitignore",
                    // "python",
                    // "jsx",
                    // "sass",
                    // "typescript",
                    "ini",
                    "yaml",
                    "shell-session"
                ],
                "plugins": [
                    "line-numbers",
                    "show-language"
                ],
                "theme": "okaidia",
                "css": true
            }
        ]
    ]
}